<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
   <%- include('includes/header') %>
   <%- include('includes/drawer') %>
    <main>
      <h1>404. Page not found!</h1>
      <p>
        Unfortunatelly, we weren't able to find this page.
      </p>
    </main>
  </body>
</html>