<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
   <%- include('includes/header') %>
   <%- include('includes/drawer') %>
    <main>
      <h1>500. Something went wrong!</h1>
      <p>
        Unfortunatelly, something went wrong on the server -<br/> we are doing our best to fix it as soon as possible
      </p>
    </main>
  </body>
</html>